body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  form {
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
  }
  
  #suggestions {
    margin-top: 10px;
  }